.home-container {
  min-height: 100vh;
  padding-top: 120px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  position: relative;
  z-index: 1;
  margin-left: 228px;
}

.content h1 {
  color: #0f147f;
  font-size: 50px;
  line-height: 75px;
  margin-top: 50px;
  margin-bottom: 40px;
  font-family: "Poppins", sans-serif;
}

.content h1 span {
  font-weight: 700;
}

.subContent{
  list-style-type: none;
  padding: 0;
  margin-left: -50px;
  font-family: "Poppins", sans-serif;
}

.subContent li {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 13px;
  font-size: 20px;
  color: #4a4e6d;
  line-height: 30px;
  font-weight: 700;
}

.subContent  li img {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

.buttons {
  display: flex;
  gap: 20px;
  margin-top: 55px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.register-btn,
.view-btn {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  text-align: center;
}

.register-btn {
  font-size: 13.9px;
  line-height: 21px;
  width: 198.63px;
  height: 60px;
  background-color: #2e91e2;
  color: white;
}

.view-btn {
  font-size: 13px;
  line-height: 21px;
  width: 240px;
  height: 60px;
  background-color: #9866eb;
  color: white;
}

.background-image {
  position: absolute;
  top: 0;
  right: 0;
  width: 600px;
  height: 750px;
  background: url("../../assets/backgroundImg.png") no-repeat center center;
  background-size: cover;
  padding-top: 100px;
  z-index: 0;
  opacity: 1;
}

.scroll-section {
  margin-top: 50px;
  padding-top: 65px;
}

.why-choose-us {
  margin: 60px 100px;
  font-family: "Poppins", sans-serif;
}

.statistics {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  font-size: 28px;
  color: black;
}

.statistics .eachbox {
  box-shadow: 4px 4px 4px 0px #00000014;
}

.statistics div {
  width: 326px;
  height: 116px;
  border-radius: 20px;
  background-color: #ffffff;
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 31px 15px 31px 25px;
}

.statistics div img {
  margin-left: 10px;
}

.statistics .first {
  width: 49px;
  height: 49px;
}

.statistics .second {
  width: 70px;
  height: 65px;
}

.statistics .th {
  width: 58px;
  height: 58px;
}

.statistics .statistics-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.statistics .statistics-text span {
  font-size: 20px;
}

.why-choose-us h2 {
  margin-top: 60px;
  text-align: center;
  font-family: "Inter", sans-serif;
  color: black;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 20px;
}

.why-choose-us-cards {
  margin-top: 60px;
  display: flex;
  overflow-x: auto;
  padding-bottom: 20px;
}

.why-choose-us-cards::-webkit-scrollbar {
  display: none;
}

.why-choose-us-cards {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.why-choose-us-cards .card {
  min-width: 483px;
  height: 270px;
  margin-right: 20px;
  background: #fff;
  border-radius: 20px;
  padding-left: 20px;
  padding-top: 25px;
  padding-right: 50px;
  box-shadow: 4px 4px 5px 0px #00000017;
}

.why-choose-us-cards h3 {
  font-family: "Inter", sans-serif;
  font-size: 28px;
  color: black;
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 27px;
}

.why-choose-us-cards p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: black;
  font-weight: 400;
  line-height: 27px;
}

.services-section {
  margin-top: 50px;
}

.services-row {
  display: flex;
  overflow-x: auto;
  margin-bottom: 10px;
  padding-bottom: 20px;
}

.services-row::-webkit-scrollbar {
  display: none;
}

.services-row {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.services-row .card {
  width: 431px;
  height: 325px;
  margin-right: 20px;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 4px 4px 5px 0px #00000017;
  flex: 0 0 auto;
}

.services-row .image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  margin-top: 5px;
}

.services-row h3 {
  font-size: 28px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  line-height: 27px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.services-row p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  margin-left: 10px;
  margin-right: 10px;
}

.app-services-heading {
  font-size: 40px;
  text-align: center;
  font-weight: 600;
  margin-top: 50px;
  margin-bottom: 10px;
  font-family: "Inter", sans-serif;
}

.app-services {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.app-service {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.app-service-reverse {
  flex-direction: row-reverse;
}

.service-description {
  flex: 0.47;
  background-color: #0088cc;
  color: white;
  padding: 20px;
  z-index: 1;
  position: relative;
  border-radius: 32px;
  width: 800px;
  height: 250px;
  text-align: left;
}

.service-description h3 {
  font-size: 27px;
  font-weight: 400;
  line-height: 32.68px;
  font-family: "Inter", sans-serif;
}

.service-description p,
li {
  font-size: 27px;
  font-weight: 400;
  line-height: 32.68px;
  font-family: "Inter", sans-serif;
}

li {
  position: relative;
  padding-left: 50px;
  text-indent: -30px;
  margin-bottom: 10px;
}

.service-img-container {
  flex: 0.4;
  text-align: center;
}

.service-description::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #0088cc;
  border-radius: 32px;
  width: 100vw;
  z-index: -1;
}

.app-service-reverse .service-description::before {
  right: 0;
  left: unset;
  border-radius: 39px;
}

.service-img {
  position: relative;
  width: 375px;
  height: 500px;
  object-fit: cover;
  z-index: 2;
}

.ellipse-img {
  position: absolute;
  top: -30px;
  right: 30px;
  width: 247px;
  height: 242px;
  z-index: 1;
}

.ellipse2-img {
  position: absolute;
  top: -30px;
  left: 60px;
  z-index: 1;
}

.areasService {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  
}

.areasService .map{
  width: 564px;
  height: 493px;
}

.areasService .information{
  width: 564px;
  height: 493px;
  border: none;
  background-color: #A620FF;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 0 10px;
}

.places-container{
  display: flex;
  justify-content: space-between;
  gap: 80px;
}
.eachPlace{
  display: flex;
  align-items: center;
  gap: 10px;
}

.areasService .information img {
  width: 11px;
  height: 11px;
  background-color: white;
  border-radius: 10px;
}

.areasService .information h3 {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 20px;
} 

.areasService .information .info{
  font-size: 15px;
  font-weight: 400;
  font-family: "Poppins";
  text-align: center;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 40px;
}
.eachPlace p{
  font-size: 20px;
  font-weight: 600;

}

