@import url('https://fonts.googleapis.com/css2?family=Avenir:wght@400;500;600;700&display=swap');

.registration-container {
  width: 1346px;
  height: auto;
  margin: auto;
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.registration-container img {
  width: 1322px;
  height: 80px;
  margin-top: 45px;
}

.registration-container h2 {
  margin-top: 80px;
  margin-bottom: 80px;
  font-family: "Inter", sans-serif;
  text-align: center;
  font-size: 34px;
  line-height: 24px;
  font-weight: 500;
}

.form-group {
  margin-bottom: 15px;
  padding-right: 100px;
  padding-left: 30px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 24px;
  font-family: "Inter", sans-serif;
}

.form-group.inline-fields {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.form-group.inline-fields .field {
  flex: 1;
  margin-right: 10px;
}

.form-group.inline-fields .field:last-child {
  margin-right: 0;
}

.form-group.inline-fields .field.half-width {
  flex: 0 0 55%;
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group input[type="email"],
.form-group input[type="tel"] {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.form-group .upload-file {
  color: #0261FF;
  cursor: pointer;
  margin-left: 10px;
}

.form-group .upload-file:hover {
  text-decoration: none;
}

.form-group.large-width-field {
  max-width: 75%;
}

.form-group.inline-fields-age {
  max-width: 45%;
}

.agreement-section {
  padding-left: 35px;
  padding-right: 100px;
  margin-top: 20px;
  font-family: "Inter", sans-serif;
}

.agreement-section label {
  font-weight: 600;
  font-size: 24px;
}

.agreement-section p {
  font-weight: 400;
  font-size: 21px;
  margin-top: 20px;
  line-height: 1.5;
}

.submit-button {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 100px;
  width: 1025px;
  height: 55px;
  padding: 10px;
  background-color: #0261FF;
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
}
