.bank-details-container {
    max-width: 1346px;
    margin: 0 auto;
    padding: 40px;
    font-family: 'Inter';
}

.bank-details-container h2 {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 33px;
}

.bank-details-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.bank-details-form .field {
    display: flex;
    flex-direction: column;
    
    
    margin-bottom: 15px;
}



.bank-details-form .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 22px;
}
.form-group.inline-fields{
    display: flex;
}

.bank-details-form input[type="text"],
.bank-details-form input[type="date"],
.bank-details-form textarea {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.bank-details-form input[type="date"] {
    width: 40%; 

}
.bank-details-form textarea[name="address"] {
    height: 150px;
}
.bank-details-form textarea {
    resize: none;
}

.bank-details-form .form-group.inline-fields {
    display: flex;
    gap: 30px;
}


.bank-details-form .form-group.inline-fields .field input {
    width: 100%;
}


.bank-details-form .form-group.inline-fields .field.half-width {
    flex-basis: 50%;
    width: 50%;
}

.bank-details-form .city {
    width: 40%;
}

.bank-details-form button.submit-button {
    width: 1025px;
    height: 55px;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #0060FF;
    color: white;
    font-size: 18px;
    cursor: pointer;
    font-weight: 600;
    align-self: center;
}
